{% extends './base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mook's Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cashier-page' %}">Cashier คิดเงิน</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cashier-page' %}">Change Product เปลี่ยนสินค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'transaction-page' %}">Transaction</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Inventory</a>
        </li> -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inventory คลังสินค้า
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'add-new-product-page' %}">+ New Product เพิ่มสินค้า</a>
                <a class="dropdown-item" href="/admin/server/product">All Products สินค้าทั้งหมด</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Management การจัดการ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'add-new-promotion-page' %}">+ Promotion</a>
        </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
        <a href="{% url 'logout-page' %}" class="btn btn-outline-danger">logout</a>
        </form>
    </div>
</nav>
{% endblock %}