{% extends './base_nav.html' %}
{% load mathfilters %}
{% load humanize %}
{% block head %}
<style>
    .right {
        text-align: right;
    }

    .bold {
        padding: 0.3em !important;
        margin: 0px;
        font-weight: 600;
        font-size: 1.1em;
    }

    .bold-text {
        font-weight: 600;
    }

    .show-text {
        background-color: white;
        /* width: 2000; */
        text-align: center;
        height: 200px;
    }

    #show-text {
        height: 200px;
    }

    .barcode_input {
        width: 100%;
    }

    .barcode_input .col-10 {
        padding-left: 0px !important;
        padding-right: 0px !important;

    }

    .barcode_input .col-2 {
        padding-left: 0px !important;
        padding-right: 0px !important;

    }

    .get-money button {
        padding: 1em !important;
        font-size: 1.5em;
        /* margin-left: 2em !important;
        margin-right: 2em !important; */
    }

    .get_money_inp {
        display: none;
    }

    .get_money_inp button {
        width: 100%;
    }

    .get_money_inp .col-10,
    .get_money_inp .col-2,
    .get_money_inp .col-5 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #input-money {
        display: none;
        /* color: rgb(255, 205, 125); */
    }

    #dummy {
        color: rgb(152, 211, 246);
    }

    .header {
        justify-content: space-between;
        align-items: flex-end;
    }

    .show-balance {
        text-align: center;
        font-size: 4em;
    }

    .balance-num-box {
        /* padding: 1em; */
        height: 160px;
        display: none;
    }

    .mytable {
        table-layout: fixed;
    }

    .adj-box {
        padding: 0px;
        margin: 0px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .date {
        font-size: 0.8em;
        font-weight: 300;
    }

    .is-adjust {
        color: orange;
    }

    .no-pad-horizontal {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .no-pad-horizontal .btn {
        padding: 0px !important;

    }

    .text-center {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}

<div class="flexrow">
    <!-- <h5>
        Cashier
    </h5> -->
    <br>
</div>
<div class="flexrow">
    <div class="col-lg-8">
        <!-- Product List -->
        <div class="flexrow header">

            <h5>Product List
                {% if transaction.bank.name != None %}
                [ {{transaction.bank.name}} ]
                {% endif %}
            </h5>
            <h1> <span class="badge badge-success">{{transaction.total|floatformat:2}}</span> </h1>
            <h5 class="date">{{transaction.updated_on}}</h5>
        </div>
        <table class="table table-striped mytable">


            <tbody id="table_body">
                <!-- show sub transaction -->
                {% for sub in subs %}
                <tr>
                    <form method="post" id="change num">
                        {% csrf_token %}
                        <input type="hidden" name="act" value="edit number">
                        <input type="hidden" name="pk" value="{{sub.id}}">
                        <td width="50px" style="padding-left:5px; padding-right:0px;">
                            <input type="number" onblur="this.form.submit()" name="num"
                                class="text-center adj-box form-control adjust-sub" value="{{sub.n_item | intcomma}}">
                        </td>
                    </form>
                    <td scope="row" width="30" class="no-pad-horizontal">
                        ชิ้น
                    </td>
                    <td width="10"></td>


                    <td class="no-pad-horizontal">{{sub.product_obj.name}} </td>
                    <td width="100px" class="no-pad-horizontal">{{sub.product_obj.price|floatformat:2}} x
                        {{sub.n_item|intcomma}}</td>

                    {% if sub.is_adjust %}
                    <td class="right is-adjust" width="80px">{{sub.price |floatformat:2}}</td>
                    {% else %}
                    <td class="right" width="80px">{{sub.price |floatformat:2}}</td>
                    {% endif %}

                    <td width="80px" class="right">{{sub.product_obj.price|mul:sub.n_item|floatformat:2}}</td>

                    <form id="adjust sub" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="act" value="adjust sub">
                        <input type="hidden" name="sub_id" value="{{sub.id}}">
                        <td width="80px" style="padding-left:5px; padding-right:0px;">

                                <input type="number" onblur="this.form.submit()" placeholder="ลดเหลือ" name="price"
                                    class="text-center adj-box form-control adjust-sub">
                                <!-- <button class="text-center adj-box form-control btn btn-outline-warning">แก้</button> -->
                        </td>
                    </form>

                    <!-- a product discount -->
                    <!-- <td width="80px" class="no-pad-horizontal">
                        <input id="sub;{{sub.id}}" type="number" placeholder="ลดเหลือ"
                            class="adj-box form-control adjust-sub" name="price" maxlength="4" size="4">
                    </td> -->
                    <td width="30px" class="no-pad-horizontal">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="act" value="del item">
                            <input type="hidden" name="pk" value="{{sub.pk}}">
                            <button class="btn btn-outline-danger">ลบ</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <!-- <div class="bottom">
                    <tr class="table-light">
                        <td colspan="5" class="right bold-text">Discount from Promotion</td>
                        <td class="right" width="80px"></td>
                        <td class="right" width="80px">{{transaction.discount_from_promotion}}</td>
                        
                    </tr>
                </div> -->
                <!-- full price -->
                <div class="bottom">
                    <tr class="table-light">
                        <td colspan="6" class="right bold-text">Gross</td>
                        <!-- <td class="right" width="80px"></td> -->
                        <td class="right" width="80px">
                            {{transaction.total|add:transaction.discount_from_promotion_on_group|floatformat:2}}</td>
                    </tr>
                </div>

                <!-- discount -->
                <div class="bottom">
                    <tr class="table-light">
                        <td colspan="6" class="right bold-text">Discount</td>
                        <!-- <td class="right" width="80px"></td> -->
                        <td class="right" width="80px">{{transaction.discount_from_promotion_on_group|floatformat:2}}
                        </td>
                    </tr>
                </div>

                <div class="bottom">
                    <!-- total -->
                    <tr class="table-light">
                        <td colspan="6" class="right bold-text">Net {{transaction.total_item|intcomma}} items</td>

                        <!-- <td class="right" width="80px">({{transaction.total|add:transaction.discount_from_promotion_on_group}})</td> -->
                        <!-- <td></td> -->

                        {% if transaction.is_adjust %}
                        <td class="right bold-text is-adjust">
                            {{transaction.total|floatformat:2}}
                        </td>
                        {% else %}
                        <td class="right bold-text">
                            {{transaction.total|floatformat:2}}
                        </td>
                        {% endif %}
                        <!-- <td class="right" width="200px">{{sub.sum}}</td> -->

                        <!-- discount -->
                        <td>
                            <form id="adjust total" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="act" value="adjust total">

                                <input id="adjust_total_input" type="number" placeholder="ลดเหลือ"
                                    class="adj-box form-control" name="price" maxlength="4" size="4">
                            </form>
                        </td>
                    </tr>

                    {% if phase == 'wait fin' %}
                    <!-- get money -->
                    <div class="received">
                        <tr class="table-light">
                            <td colspan="6" class="right bold">Received</td>
                            <td class="right bold">{{transaction.received}}</td>
                        </tr>
                    </div>

                    <!-- balance -->
                    <div class="balance">
                        <tr class="table-light">
                            <td colspan="6" class="right bold">Balance</td>
                            <td class="right bold">{{transaction.balance}} </td>
                        </tr>
                    </div>
                    {% endif %}

                </div>
                <tr class="table-light">
                    <td colspan="8">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="act" value="clear all">
                            <button class="btn btn-warning form-control">clear all</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- total -->
        <table class="table table-striped">
            <tbody id="table_body">
            </tbody>
        </table>
    </div>


    <!-- right view -->
    <div class="col-lg-4">
        <!-- status scan barcode -->
        <div id="scan-barcode" class="show-text">
            <img src="/media/scan.gif" width="250" alt="">
        </div>
        <!-- status input money -->
        <div id="input-money" class="show-text">
            <img src="/media/money.gif" width="250" alt="">
        </div>

        <!-- barcode input -->
        <div id="barcode_input" class="barcode_input">
            <form id="barcode_form" method="post">
                {% csrf_token %}
                <input placeholder="Amount" type="hidden" name="act" value="scan barcode">
                <div class="input-group input-group-sm mb-3 ">

                    <div class="flexrow barcode_input">
                        <!-- barcode inp -->
                        <div class="col-10">

                            <input id="barcode-input" class="form-control" type="text" name="barcode"
                                placeholder="Barcode" required>
                        </div>
                        <!-- add button -->
                        <div class="col-2">
                            <button class="btn btn-outline-primary form-control">add</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>


        <!-- get money button -->
        <div id="get-money" class="get-money">
            <div id="balance-num-box" class="balance-num-box">
                <div class="flexrow">
                    <p>Balance</p>
                </div>
                <div class="flexrow ">
                    <h1 class="show-balance"><span class="badge badge-warning">{{transaction.balance}}</span></h1>
                </div>
            </div>
            <div class="flexrow">

                <button id="show-text" class="btn btn-success form-control">
                    <h1>รับเงิน</h1><br>
                    <p> [ Enter ] </p>
                </button>
            </div>
        </div>

        <!-- input money -->
        <div id="get-money-inp" class="get_money_inp">
            <!-- form for input money -->
            <form method="post">
                {% csrf_token %}
                <div class="flexrow">
                    <input placeholder="Amount" type="hidden" name="act" value="get money">
                    {% if transaction.bank == None %}
                    <div class="col-10">
                        <input placeholder="เงินสด" id="get-money-input" type="number" class="form-control"
                            name="amount">
                    </div>
                    {% else %}
                    <div class="col-5">
                        <input placeholder="เงินสด" id="get-money-input" type="number" class="form-control"
                            name="amount">
                    </div>
                    <div class="col-5">
                        <input placeholder="ยอดโอน" class="form-control" type="number" name="online-amount">
                    </div>
                    {% endif %}
                    <div class="col-2">
                        <button class="btn btn-success">Enter</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- finish form -->
        <form id="fin form" method="post">
            {% csrf_token %}
            <input type="hidden" name="act" value="save">
        </form>


        <input id="error" type="hidden" value="{{error}}">
        <input id="phase" type="hidden" value="{{phase}}">
        <input id="len_subs" type="hidden" value="{{len_subs}}">
        <form id="adjust sub" method="post">
            {% csrf_token %}
            <input type="hidden" name="act" value="adjust sub">
        </form>
        <script>
            const get_money = document.getElementById('get-money');
            const len_subs = document.getElementById('len_subs');
            const show_text = document.getElementById('show-text');
            const get_money_inp = document.getElementById('get-money-inp')
            const barcode_input = document.getElementById('barcode-input');
            const get_money_input = document.getElementById('get-money-input')
            const barcode_box = document.getElementById('barcode_input');
            const scan_barcode = document.getElementById('scan-barcode');
            const input_money = document.getElementById('input-money');
            const error = document.getElementById('error');
            const fin_form = document.getElementById('fin form');
            const barcode_form = document.getElementById('barcode_form');
            const adjust_total_form = document.getElementById('adjust total');
            const adjust_total_input = document.getElementById('adjust_total_input');
            const balance_num_box = document.getElementById('balance-num-box');
            // const adjust_sub_form = document.getElementById('adjust sub');
            // const adjust_sub_inputs = document.getElementsByClassName('adjust-sub');
            let phase = document.getElementById('phase').value;
            window.onload = () => {
                // alert('hi');
                if (error.value == 'not enough money') {
                    show_text.style.backgroundColor = 'rgb(253, 114, 0)';
                    show_text.innerHTML = 'not enough money<br>plz input again<br><br>[ Enter ]';
                }
                if (error.value != '') {
                    show_text.style.backgroundColor = 'rgb(253, 114, 0)';
                    show_text.innerHTML = error.value + '<br>[ Enter ]';
                }

                if (phase == 'wait fin') {
                    // document.addEventListener('keydown',(evt)=>{
                    //     if(evt.code=='Enter'){
                    //         evt.preventDefault();
                    //     }
                    // });
                    // evt.preventDefault();
                    balance_num_box.style.display = 'block';
                    barcode_box.style.display = 'none';
                    scan_barcode.style.display = 'none';
                    show_text.style.backgroundColor = 'green';
                    show_text.innerHTML = '<h1> Save</h1> <br>   <p>[ Enter ]  </p>';
                    show_text.addEventListener('click', () => {
                        // location.reload();
                        fin_form.submit();
                    });
                }
                barcode_input.focus();

            }
            function doPayment() {
                // show_text.style.display = 'none';
                show_text.innerHTML = '<h1>Back</h1><br>[ -- ]';
                show_text.style.backgroundColor = 'rgb(96,209,255)';
                show_text.addEventListener('click', () => {
                    location.reload();
                });
                get_money_inp.style.display = 'block';
                barcode_box.style.display = 'none';
                get_money_input.focus();
                scan_barcode.style.display = 'none';
                input_money.style.display = 'block';
                // input_money.style.backgroundColor = 'rgb(166  , 220, 246)';
                phase = 'input money';
            }
            show_text.addEventListener('click', () => {
                doPayment();
            });

            // function getSubId() {
            //     // alert(adjust_sub_inputs);
            //     for (var i = 0; i < adjust_sub_inputs.length; i++) {
            //         sub = adjust_sub_inputs[i];
            //         // console.log(sub);
            //         // alert(sub.value);
            //         if (sub.value != '') {
            //             subId = sub.id.split(';')[1];
            //             price = sub.value;
            //             return [subId, price];
            //         }
            //     }
            //     return null;
            // }

            function addFormData(formEle, key, value) {
                let inputEle = document.createElement('input');
                inputEle.name = key;
                inputEle.type = 'hidden';
                inputEle.value = value;
                formEle.appendChild(inputEle);
            }

            document.addEventListener('keydown', (evt) => {
                // console.log(evt);
                // alert(barcode_input.value);
                console.log(phase);
                if (phase == 'start') {
                    if (evt.code == 'Enter' && adjust_total_input.value != '') {
                        adjust_total_form.submit();
                    }
                    // else if (evt.code == 'Enter' && getSubId() != null) {
                    //     [subId, price] = getSubId();
                    //     // console.log(subId);
                    //     addFormData(adjust_sub_form, 'price', price);
                    //     addFormData(adjust_sub_form, 'sub_id', subId);
                    //     adjust_sub_form.submit();
                    // }
                    else if (evt.code == 'Enter' && barcode_input.value == '') {
                        evt.preventDefault();
                        if (Number(len_subs.value) >= 1) {
                            doPayment();
                        } else {
                            alert('there is no product');
                        }
                    }
                }
                if (phase == 'wait fin' && evt.code == "Enter") {
                    evt.preventDefault();
                    fin_form.submit();
                }
                // console.log(evt.code=="Escape");
                // if (evt.code == "Escape" || evt.key == "Escape" && get_money_inp.hasFocus()) {
                //     alert('here');
                //     console.log('hi');
                //     location.reload();
                // }

            });
        </script>
    </div>
</div>
{% endblock %}