{% extends './base_nav.html' %}

{% block head %}
<style>
    .header {
        margin: 3em;
    }

    .myform input {
        width: 100%;
        background-color: rgb(245, 245, 245);
    }
</style>
{% endblock %}

{% block body %}
<div class="flexrow header">
    <h4>Create New Promotion</h4>
</div>
<div class="flexrow">
    <div class="col-lg-4 myform">
        <form method="post">{% csrf_token %}
            <input type="hidden" name="act" value="add promotion">
            <p>barcode</p>
            <input type="text" name="barcode" required>
            <p>จำนวน ชิ้น ที่เกิดโปรโมชัน</p>
            <input type="number" name="n_item" required>
            <p>ราคา</p>
            <input type="number" name="price" required>
            <div class="flexrow">
                <button class="btn btn-primary form-control">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}