{% extends './base_nav.html' %}
{% load humanize %}

{% block head %}
<style>
    .is-adjust {
        color: orange;
    }

    .header {
        margin: 3em;
    }

    .right {
        text-align: right;
    }

    tr td {
        width: 100px;
    }

    .mytable {
        table-layout: fixed;
    }

    #time {
        width: 300px;
    }

    .bold-text {
        font-weight: 600;
    }

    .center {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<br>
<div class="flexrow">
    <div class="col-sm-4">
        <center>
        {% if is_show_update_button %}
            <p>New features are provided</p>
            <!-- <p>[log] {{message}}</p> -->
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="act" value="update">
                <button class="btn btn-primary form-control">Update</button>
            </form>
        {% else %}
                <h1>Successfully Updated</h1>
                <p>{{text|safe}}</p>
                <p>[log] {{message}}</p>
        {% endif %}
        </center>
    </div>
</div>
<br>
<br>
{% endblock %}