{% extends './base_nav.html' %}
{% load humanize %}

{% block head %}
<style>
    .is-adjust {
        color: orange;
    }

    .header {
        margin: 3em;
    }

    .right {
        text-align: right;
    }

    tr td {
        width: 100px;
    }

    .mytable {
        table-layout: fixed;
    }

    #time {
        width: 300px;
    }

    .bold-text {
        font-weight: 600;
    }

    .center {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<br>
<div class="flexrow">
    <div class="col-sm-6">
        {% if is_show_update_button %}
            <p>New features are provided</p>
            <p>eiei</p>
            <p>[log] {{message}}</p>
            <a class="btn btn-primary form-control" href="/update">Update</a>
        {% else %}
            <center>
                <h1>Success Updating</h1>
                <h5>{{text|safe}}</h5>
                <p>[log] {{message}}</p>
            </center>
        {% endif %}
    </div>
</div>
<br>
<br>
{% endblock %}